* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.container {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 70px;
}

.col-1 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}

.col-1 p {
    margin-top: 10px;
    color: #5d5d5d;
}

.btn-1 {
    margin-top: 10px;
    padding: 10px 25px;
    background: linear-gradient(to right, tomato, pink);
    color: white;
    border: none;
    font-weight: 400;
    border-radius: 5px;
}

.row-1 {
    display: flex;
    width: 100%;
}

.col-1 {
    flex-basis: 50%;
    width: 90%;
}

.col-2 {
    flex-basis: 50%;
    margin-top: -70px;
    width: 90%;
    position: relative;
}

.simple-cart {
    display: flex;
    background-color: white;
    box-shadow: 2px 3px 10px #5d5d5d;
    width: 35%;
    align-items: center;
    padding: 10px 25px;
    border-radius: 5px;
    position: absolute;
    top: 75%;
    left: 15%;
    height: 100px;
}

.icon {
    color: gold;
}

.cart-info {
    color: lightslategray;
    margin-left: 10px;
}

@media only screen and (max-width:700px) {
    .row-1 {
        display: flex;
        flex-direction: column;
    }

    .col-1 {
        flex-basis: 100%;
    }

    .col-1 h1 {
        font-size: 50px;
    }

    .col-2 {
        flex-basis: 100%;
        margin-top: 10px;
    }

    .col-2 img {
        width: 500px;
    }

    .simple-cart {
        height: 80px;
        position: absolute;
        top: 110px;
        left: 0px;
    }
}